<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>CMD Weekly Nerds | Martijn Kooijman</title>
    </head>
    <body>
        <section class="pageheader">
            <div class="content">
                <h1>Weekly Nerds 2024</h1>
                <div class="image-wrapper">
                    <img src="/logo.png" alt="Logo of Weekly Nerds">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Minus, cum corrupti ipsa voluptas suscipit similique aperiam repellat blanditiis, 
                    animi, nobis ipsum. Obcaecati non velit culpa veritatis quas deleniti totam nisi!</p>
                <div class="nav-search">
                    <form action="/search">
                        <div class="input-wrapper">
                            <i class="fas fa-search input-icon"></i>
                            <label for="search-movie"></label>
                            <input type="search" placeholder="Zoek een weekly nerd..." name="term" id="search-movie">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="cards-section">
            <div class="container">
                <div class="nerd-cards">
                    <div class="card-container">
                        <% dataResults.forEach(element => { %>
                            <div class="card">
                                <div class="card-header">
                                    <h3><%= element.titel %></h3>
                                    <h4><%= element.naam_spreker %></h4>
                                    <small><%= element.datum %></small>
                                </div>
                                <div class="card-body">
                                    <p><%= element.onderwerp %></p>
                                </div>
                                <div class="card-footer">
                                    <button type="button">Lees meer <i class="fa-solid fa-angle-right"></i></button>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>