<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Martijn's API site</title>
    </head>
    <body>
        <%- include('../components/nav.ejs'); %>
        <div class="container">
            <div class="movie-details">
                <div class="movie-content">
                    <div class="col-left">
                        <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Image of <%= movie.title %>">
                    </div>
                    <div class="col-right">
                        <div class="movie-content-wrapper">
                            <h2><%= movie.title %></h2>
                            <div class="movie-group">
                                <button>Play</button>
                                <button>Play trailer</button>
                            </div>
                            <div class="movie-group">
                                <h4>Genre:</h4>
                                <p><%= movie.genres[0].name %></p>
                            </div>
                            <div class="movie-group">
                                <h4>Beschrijving:</h4>
                                <p><%= movie.overview %></p>
                            </div>
                            <div class="movie-group">
                                <h4>Uitgebracht op:</h4>
                                <p><%= movie.release_date %></p>
                            </div>
                            <div class="star-container">
                                <figure>
                                    <img src="/img/star.svg" class="star-rating" alt="Star of the movie rating">
                                    <span class="star-number"><%= movie.vote_average.toFixed(1) %></span>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie-reviews">
                    <h2>Reviews <span>(<%= movieReviews.length %>)</span></h2>
                    <% if(movieReviews && movieReviews.length > 0) { %>
                        <% movieReviews.forEach(review => { %>
                            <div class="review">
                                <p class="review-author"><%= review.author_details.username %></p>
                                <% let dateTime = "2016-06-24T19:10:36.946Z";
                                    let date = new Date(dateTime);
                                    let parsedDate= date.toLocaleDateString('nl-NL'); %>
                                <p class="review-date">Geschreven op: <%= parsedDate %></p>
                                <div class="review-group">
                                    <div class="review-image-wrapper">
                                        <% if(review.author_details.avatar_path != null) { %>
                                            <img src="https://image.tmdb.org/t/p/w500<%= review.author_details.avatar_path %>" class="review-image" alt="avatar image of user: <%= review.username %>">
                                        <% } else { %>
                                            <img src="/img/avatar.png"  class="review-image" alt="Image of <%= review.author_details.username %>">
                                        <% } %>
                                    </div>
                                    <p class="review-text"><%= review.content %></p>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>Er zijn nog geen reviews voor deze film.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>