<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Martijn's API site</title>
    </head>
    <body>
        <section class="pageheader">
            <div class="pageheader-image-wrapper">
                <img src="/img/coding.svg" alt="Coding logo" class="pageheader-image">
            </div>
            <div class="pageheader-image-wrapper">
                <img src="/img/microphone.png" alt="Microphone icon" class="pageheader-image">
            </div>
            <div class="content">
                <div class="image-wrapper">
                    <img src="/img/logo.png" alt="Logo of Weekly Nerds" class="home-btn">
                </div>
            </div>
        </section>
        <div class="container">
            <div class="nerd-details">
                <div class="nerd-content">
                    <h1><%= nerdData.titel %></h1>
                    <p>Datum: <%= nerdData.datum %></p>
                    <p>Spreker: <%= nerdData.naam_spreker %></p>
                    <div class="nerd-note-wrapper">
                        <h2>Aantekeningen</h2>
                        <p class="nerd-notes"><%= nerdData.verslag %></p>
                    </div>
                    <div class="nerd-reflection-wrapper">
                        <h2>Reflectie over deze Weekly Nerd:</h2>
                        <p class="nerd-reflection"><%= nerdData.reflectie %></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>