<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Martijn's API site</title>
    </head>
    <body>
        <%- include('../components/nav.ejs'); %>
        <div class="container">
            <div class="results-wrapper">
                <% searchdataResults.forEach(result => { %>
                    <a href="/movie/<%= result.id %>" class="search-card">
                        <img src="https://image.tmdb.org/t/p/w500<%= result.poster_path %>" alt="Image of <%= result.title %>">
                    </a>
                <%}); %>
            </div>
        </div>
    </body>
</html>